.swiper-button-prev{
    display: none;
}

.swiper-button-next{
    display: none;
}

@media screen and (width: 360px) {
    .nav-btn{
        margin-left: 40px;
    }
}

@media (min-width: 375px) and (max-width: 667px) {
    .nav-btn {
        margin-left: 70px;
    }

}
@media (min-width: 390px) and (max-width: 430px) {
    .nav-btn {
        margin-left: 70px;
    }

}
@media (min-width: 480px) and (max-width: 550px) {
    .nav-btn {
        margin-left: 180px;
    }

}
@media (min-width: 550px) and (max-width: 600px) {
    .nav-btn {
        margin-left: 310px;
    }

}


@media (min-width: 600px) and (max-width: 770px) {
    .nav-btn {
        margin-left: 380px;
    }

}



